body{
  font-family: Muli,sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0em;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.mobile-mode-menu-bar{
  display: none !important;
}
:root{
  --primary-color : #fff;
  --topbar-color:#000;
  --icon-color: #000;
  --price-del-color :#858585;
  --trending-color :#141414;
  --disscount-price-color:#141414;
  --insta-fed-color:#faf7f2;
  --about-us-para-color:#161515;
  --section-footer-color:#4f3828;
  --secondary-color :#000;
  --third-color :#141414;
  --fourth-color : #242424;
  --fifth-color : #4f3828;
  --sixth-color : #161515;
  --seventh-color:#858585;
  --eightth-color : #818181;

}
.menu,.menu-bar{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.mobile-coupon{
  font-size: small;
}

.top-bar {
  background-image: none;
  background-color: var(--topbar-color);
  padding: 5px 0;
  width: 100%;
  height:43px ;
}
.announce-bar {
  width: 100%;
  margin-top: 30px;
}
.bg-menu {
    PADDING: 6px;
    height: 82px;
}
.item-1 {
  position: relative;
  animation: mymove 15s infinite; 
}
.item-2 {
  position: relative;
  animation: mymove2 15s infinite;
}
.item-3 {
  position: relative;
  animation: mymove3 15s infinite;
}
@keyframes mymove {
  0%, 8.3% { left: 0%; opacity: 0; }
 8.3%,24% { left: 0%; opacity: 1; }
 33.33%, 100% { left: 30%; opacity: 0; }
}
@keyframes mymove2 {
  0%, 33.33% { left: 0%; opacity: 0; }
 41.63%, 58.29% { left: 0%; opacity: 1; }
 66.66%, 100% { left: 30%; opacity: 0; }
}
@keyframes mymove3 {
  0%, 66.66% { left: 0%; opacity: 0; }
 74.96%, 91.62% { left: 0%; opacity: 1; }
 100% { left: 30%; opacity: 0; }
}
.item-1, .item-2, .item-3 { 
  position: absolute;
  display: block;
  top: 10px;
  width: 60%;
  font-size: 15px;
  animation-iteration-count: ease-in-out !important;
  color: var(--primary-color);
  font-weight: normal;
  font-family: baskerville-normal;
  }
  /* fontawsome icon */
  .fa-regular,.fa-solid {
    font-weight: 500;
    font-size: larger;
    font-family: 'FontAwesome';
    font-style: normal;
  }
  .fa-magnifying-glass::before{
    content: "\f002";
  }
  .fa-magnifying-glas::before{
    content: "\f002"!important; 
  }
  .fa-less-than::before{
    content: "\3c"!important; 
    font-size: x-large;
    color:var(--icon-color);
  }
.fa-greater-than::before{
  content: "\3e"!important; 
    font-size: x-large;
    color:var(--icon-color);
 }
 .fa-brightness::before{
  content: "\e0c9"!important; 
  }
  .icon-margin{
    margin: 7px;
  }
  .login-register{
    color:var(--primary-color);
  }
/*mobile menu*/
.bg-menu{
  background-color: var(--primary-color);
  color: var(--seventh-color);
}

.menu-margin{
  margin-left: auto;
  font-size: 15px;
  color: var(--third-color);
}

/* banner */

.banner {
  width: 100%;
  position: relative;
    z-index: 998;
    transition: opacity 500ms ease 0s;
}

.carousel-control-prev-icon,.carousel-control-next-icon {
  background-image:unset;
  color: var(--primary-color);
  
}

/* curated collection */
.curated-collection{
  margin-top: 40px!important;
  height: 702px;
  background-color:var(--primary-color);
}
.curated-heading{
    font-family: BASKERVVILLE-REGULAR;
    font-size: 30px;
    text-align: center;
    color: var(--fourth-color);
    font-weight: 400;
    margin-top: 20px;
    padding: 0 0 15px;
}

.curated-subheading{
    display: block;
    font-size: 16px;
    color: var(--eightth-color);
    font-weight: 400;
    font-family: Muli,sans-serif!important;
}
.curated-subheading h2{
  line-height: 35px;
  letter-spacing: .05em;
}
.curated-margin{
  margin: 0 -15px;
  align-items: center;
  justify-content: center;
}
.s-arrow{
  background-color: #fff;
}
.curated-collection-size{
  flex: 0 0 75%;
  max-width: 75%;
  justify-content: center;
}
.menu-bar{
  margin-left: 20px;
  font-size: 16px;
}
/* shop-bestsellers */
.shop-bestsellers{
  margin-top: 40px;
  background-color:  var(--primary-color);

}
/* collection */
.collection-margin{
  margin-bottom: 60px;
}
.collection-btn{
  border: 1px solid var(--primary-color)!important;
  margin-top: -60px;
  color: var(--primary-color);
  font-family: Muli,sans-serif;
  font-size: 13px;
  line-height: 14px;
  font-style: normal;
  letter-spacing: .05em;
  font-weight: 400;
  text-transform: uppercase;
}
.collection-btn:hover a{
  color:var(--primary-color);
  border: 1px solid var(--primary-color);
}
.btn{
  border-radius: unset;
}
/* trending-style */
.title{
  font-size: 30px !important;
  font-family: BASKERVVILLE-REGULAR;
  color: var(--fourth-color);
  font-weight: 400 !important;
}
.trending-img{
  padding: 0 15px;
}
.owl-two.owl-nav button.owl-next,.owl-two.owl-nav button.owl-prev {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  color: inherit;
  border: none;
  padding: 0!important;
  font: inherit;
}
button.owl-prev,button.owl-next {
  font-size: xx-large!important;
}
.owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin-left: -20px;
  display: block !important;
  
}
.owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: -5px;
  display: block !important;

}
.owl-nav span {
  background: #fff;
  border-radius: 20px;
}


.trending-title h4{
  font-family: Muli,sans-serif;
  margin-top: 15px;
  font-size: 13px;
  color: var(--trending-color)!important;

}
.price-del{
  color: var(--price-del-color);
  font-size: 13px;
}
.disscount-price {
  font-size: 13px;
  color: var(--disscount-price-color);
}
.discount{
  position: absolute;
  top: -370px;
  margin-left: 4px;
  background-color:var(--secondary-color);
  color: var(--primary-color);
  font-size: 13px;
  line-height: 21px;
}
.wish-list{
  position: absolute;
  top: -370px;
  margin-left: 250px;
  font-size: 13px;
  line-height: 21px;
}
.trending {
  margin-bottom: 50px;
  background-color: var(--primary-color);
}
.trending-banner{
  margin-top: 20px;
}
/* celebrity-spotlight */
.celebrity{
  background-color: var(--primary-color);
}
.celebrity-heading{
  font-size: 30px;
  font-family: BASKERVVILLE-REGULAR;
  color: var(--fourth-color);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
.celebrity-box{
  padding-right: 15px;
  padding-left: 15px;
    margin-right: 2%;
}
.celebrity-text{
  padding-top: 10px;
}
.celebrity-text h4{
  color: #787878;
  font-size: 16px;
  margin-bottom: 0;
  font-family: BASKERVVILLE-REGULAR;
  font-weight: 400;
}
.celebrity-text span  {
  font-family: BASKERVVILLE-REGULAR;
  FONT-SIZE: 22PX;
  color:var(--fourth-color);
}
/* get-social */
.insta-fed{
  background-color: var(--insta-fed-color);
  padding: 35px 0 45px !important;
  width: 100%;
  position: relative;
  display: block;
  text-align: center;
  clear: both;
  margin: 30px auto 0;
}
.insta-fed h2{
  color: var(--secondary-color);
  font-size: 26px!important;
  font-family: BASKERVVILLE-REGULAR;
  font-weight: 400;
  margin-bottom: 8px!important;
  font-style: normal;
}
/* our-store */
.our-store{
  background-color: var(--primary-color);
}
/* footer */
.section-footer{
  margin-top: 30px;
  padding: 38px!important;
  background-color: var(--insta-fed-color);
  color: var(--section-footer-color);
  font-family: Muli!important;
  font-weight: 400;
}
.footer-search input{
  border-radius: unset;
}
.footer-search button{
  border-radius: unset;
  background:var(--secondary-color);
  color: var(--primary-color);
}
.sign-up{
  text-transform: capitalize!important;
  font-size: 24px;
  font-family: BASKERVVILLE-REGULAR;
  color: var(--fourth-color);
  font-weight: 400;
}
.about-us{
  font-size: 24px;
  font-family: BASKERVVILLE-REGULAR;
  color: var(--third-color);
  font-weight: 400;
}
.about-us-para{
  font-family: Muli;
  color: var(--about-us-para-color); 
  font-size: 14px;
  line-height: 24px;
}
.about-us-para a {
  text-decoration: underline;
  font-weight: 600;
  color:var(--primary-color);
  font-size: 13px;
}
.footer-section{
  padding: 40px 0;
  margin-right: unset !important;
}
.footer-section-title{
  font-size: 22px;
  font-family: BASKERVVILLE-REGULAR;
  color: var(--trending-color);
  font-weight: 400;
  text-align: justify !important;
}
.footer-section-content ul li {
  font-size: 16px;
  
  font-family: Muli!important;  
  padding: 5px 0!important;
}
.footer-section-content ul li a{
  color: var(--section-footer-color) !important;
}


.fancy-line{
  display: none;
}

/* whats app */
#whatscolor{
  color: var(--secondary-color);
}
.app{
  background-color: var(--primary-color);
  position: fixed;
  right: 0;
  bottom: 20px;
  z-index: 1030;
  border-radius: 25px;
}
/* coupon */

.bd-margin{
  z-index: 4000 ;
  position: fixed;
  right: 30%;
}
#close {
  text-align: end;
  padding:2px 5px;
}
#close:hover {
  color:var(--primary-color);
}
.coupon{
  max-width:max-content;
  margin: 0 auto;
}
.coupon h3,.coupon h4{
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
}
.coupon-card{
  background: linear-gradient(135deg,#148F77,#7C148F);
  color: var(--primary-color);
  padding: 40px 80px;
  border-radius: 15px;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.15);
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;

}

/* dark mode */
.dark-mode{
  --primary-color: #000;
  --topbar-color: #fff;
  --trending-color :#fff;
  --price-del-color :#fff;
  --disscount-price-color:#fff;
  --insta-fed-color:#000;
  --section-footer-color:#fff;
  --about-us-para-color:#fff;
  --secondary-color :#fff;
  --eightth-color : #fff;
  --fourth-color : #fff;
}
/* //container that holds the switch */
.wrapper-color-switch {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 19px;
}

/* //label for switch that is interactive */
.color-switch {
  width: 4em;
  height: 2em;
  border-radius: 10em;
  background: var(--secondary-color);
  border: 2px solid var(--primary-color);
  position: absolute;
  cursor: pointer;
}

/* //circle toggle that animates backward and forward */
.color-switch-toggle {
  width: 1.6em;
  height: 1.6em;
  background: var(--primary-color);
  position: absolute;
  border-radius: 10em;
  top: 0.09em;
  left: 0.09em;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

/* //text label that indicates switch state */
/* //light by default */
.color-switch::before {
  position: absolute;
  display: inline-block;
  width: 12em;
  left: -8em;
  top: 0.4em;
}

/* //animate circle toggle if switch is on */
#input-color-switch:checked ~ label .color-switch-toggle {
  transform: translatex(2em);
}

/* //change text of before if switch is on */
/* #input-color-switch:checked ~ .color-switch::before {
  content: "Dark Mode On";
} */

/* //hide input */
#input-color-switch {
  display: none;
}

/* MEDIA QUERY */
@media only screen and (max-width: 481px) {
  nav .navbar{
    width: 100%;

  }
  .announce-bar {
    margin-top: 26px;
   }
  .mobile-mode-menu-bar{
    display: contents !important;
  }
  #myLinks:hover{
    display: contents;
  }
  .mode-margin{
    margin: auto;
  }
  .mode-size{
    font-size: small;
  }
  .menu-bar {
    display: none !important;
  }
  .announce-bar {
    width: 100%;
    margin-top: -30px;
    
  }
  .banner-arrow {
    margin-top: 90px;
  }
 
  .container {
    max-width: 100%;
    padding: 0 2%;
  }
  .curated-collection {
    margin-top:unset !important;
    height: unset !important;
    overflow: hidden;
    width: revert;
  }
  .discount {
    position: absolute;
    margin-left: 0PX !important;
    top: -470px;
  }
  .wish-list {
    position: absolute;
    margin-left: 340PX !important;
    top: -470px !important;
  }
  .curated-margin{
  
    width: revert;
  } 
  .curated-collection-size{
    flex: unset;
    max-width: unset;
    justify-content: unset;
  }
  .s-arrow {
    margin-bottom: 110px;
  }
  .section-footer{
  text-align: center;
  padding: unset !important;
  } 
  .fancy-line{
  display: block;
  }
  .about-us-para{
  display: none;
  }
  .shop-bestsellers{
    width: 100%;
  }
  .our-store img{
    width: 100%;
  }
  .list-unstyled{
    display: none;
  }
  .footer-section h5 {   
     text-align: center !important;
  }
  .footer-section {
    padding: unset;
  }
  
  .nav-menu-bar{
    display:inline;

  }
  .navbar-brand img {
    width: fit-content;
    text-align: left !important;
    padding-bottom: 20px;
  }
  .footer-tape{
  font-size: small;
  }
  .footer-tape img{
  width: min-content;
  }
  .line-fancy{
  display: none;
  }
}
@media only screen and (max-width: 768px) {
  .mobile-mode-menu-bar{
    display: contents !important;
  }
  .announce-bar {
    margin-top: 26px;
  }
  .direction-c{
    flex-direction: column;
  }
  
  @keyframes mymove {
    0%, 8.3% { left: 0%; opacity: 0; }
   8.3%,24% { left: 0%; opacity: 1; }
   33.33%, 100% { left: 30%; opacity: 0; }
  }
  @keyframes mymove2 {
    0%, 33.33% { left: 0%; opacity: 0; }
   41.63%, 58.29% { left: 0%; opacity: 1; }
   66.66%, 100% { left: 30%; opacity: 0; }
  }
  @keyframes mymove3 {
    0%, 66.66% { left: 0%; opacity: 0; }
   74.96%, 91.62% { left: 0%; opacity: 1; }
   100% { left: 30%; opacity: 0; }
  }

    .item-1, .item-2, .item-3 { 
      position: absolute !important;
      display: block !important;
      top: 2px !important;
      width: 20% !important;
      font-size: 10px;
      animation-iteration-count: ease-in-out !important;
      color: var(--primary-color) !important;
      font-weight: normal !important;
      font-family: baskerville-normal !important;
      }
}
@media screen and (min-device-width: 425px) and (max-device-width: 768px) { 
  nav .navbar{
    width: 100%;

  }
  .announce-bar {
    margin-top: 26px;
    }
  .mobile-mode-menu-bar{
    display: contents !important;
  }
  #myLinks{
    display: none ;
  }
  #myLinks:hover{
    display: contents;
  }
  .mobile-mode{
    display: none;
  }
  .mode-margin{
    margin: auto;
  }
  .mode-size{
    font-size: small;
  }
  .menu  {
    display: none !important;
    
  }
  .announce-bar p {
    text-align: center;
    
  }
  
 
  .container {
    max-width: 100%;
    padding: 0 2%;
  }
  .curated-collection {
    margin-top: 0;
    height: unset;
    overflow: hidden;
    max-width: 100%;
  }
  .curated-margin{
    margin: unset;
    align-items: unset;
    justify-content: unset;
    width: max-content;
  } 
  .section-footer{
  text-align: center;
  padding: unset !important;
  } 
  .fancy-line{
  display: block;
  }
  .about-us-para{
  display: none;
  }
  .shop-bestsellers{
    width: 100%;
    
  }
  .our-store img{
    width: 100%;
  }
  .list-unstyled{
    display: none;
  }
  .footer-section h5 {   
     text-align: center !important;
  }
  .footer-section {
    padding: unset;
  }
  .nav-menu-bar{
    display:inline;

  }
  .navbar-brand img{
    width: fit-content;
    
    text-align: left !important;
    padding-bottom: 20px;
  }
.line-fancy{
  display: none;
  }
}

@media only screen and (min-width: 1024px) {
 
.our-store img{
  
    width: inherit;
  }
  .search-nav{
    margin-left: 70px;
  }
}
/* media query */
@media screen and (max-width: 1024px) {
  .bd-margin{
    right: 20%;
  }
 
}
@media screen and (max-width: 768px) {
  .bd-margin{
    right: 17%;
  }
}
@media screen and (max-width: 425px) {
  .bd-margin{
    right: 11%;
  }
}
